<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap" rel="stylesheet">
    <style type="text/css">
        body {
            font-family: 'Nunito', sans-serif;
        }
    </style>
</head>

<body>
    <div class="moz-forward-container">
        <br>
        <table style="background-color:#edf0f3;table-layout:fixed;border: 1px solid #ddd;" cellspacing="0"
            cellpadding="0" bgcolor="#EDF0F3" align="center" width="512px" border="0">
            <tbody>
                <tr>
                    <td align="center">
                        <center style="width:100%">
                            <table style="background-color:#ffffff;margin:0 auto;max-width:512px;width:inherit"
                                cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" width="512" border="0">
                                <tbody>
                                    <tr>
                                        <td style="background-color:#FFF;padding:10px 12px;" bgcolor="#FFF">
                                            <table style="width:100%!important;min-width:100%!important" cellspacing="0"
                                                cellpadding="0" width="100%" border="0">
                                                <tbody>
                                                    <tr>
                                                        <td valign="middle" align="center">
                                                            <a href="{{data.home_url}}" moz-do-not-send="true"
                                                                style="display: inline-block;margin-top:7px;">
                                                                <img src="{{data.home_url}}/images/logo.png"
                                                                    width="200"
                                                                    style="outline:none;color:#ffffff;text-decoration:none"
                                                                    class="CToWUd" moz-do-not-send="true" border="0">
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:24px;background-color: #FFF;">
                                            <table cellspacing="0" cellpadding="0" width="100%" border="0">
                                                <tbody>
                                                    <tr>
                                                        <td id="" align="left">
                                                            <p
                                                                style="margin:0;color:#5b5b5c;word-break:break-word;font-size:16px;line-height:1.5">
                                                                Hi {{data.fullName}},
                                                            </p>
                                                            <p style="color: #5b5b5c;margin:10px 0 0 0;">
                                                                Sorry! your research request has been rejected. Below is the feedback was given by the admin for your request.
                                                            </p>

                                                            <p style="color: #5b5b5c;margin:10px 0 0 0;">
                                                                " {{data.comment}} "
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="15px"></td>
                                                    </tr>                                                                                                        
                                                    <tr>
                                                        <td>
                                                            <p style="color: #4f5052;margin:10px 0 0 0;">Thanks,</p>
                                                            <p style="color: #4f5052;margin:0;">Your Hull Service Team</p>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </center>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>