<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap" rel="stylesheet">
    <style type="text/css">
        body {
            font-family: 'Nunito', sans-serif;
        }
    </style>
</head>
<body>
    <div class="moz-forward-container">
        <br>
        <table style="background-color:#edf0f3;table-layout:fixed;border: 1px solid #ddd;" cellspacing="0"
            cellpadding="0" bgcolor="#EDF0F3" align="center" width="600px" border="0">
            <tbody>
                <tr>
                    <td align="center">
                        <center style="width:100%">
                            <table style="background-color:#ffffff;margin:0 auto;max-width:600px;width:inherit"
                                cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" width="512" border="0">
                                <tbody>
                                    <tr>
                                        <td style="background-color:#FFF;padding:25px 12px;" bgcolor="#FFF">
                                            <table style="width:100%!important;min-width:100%!important" cellspacing="0"
                                                cellpadding="0" width="100%" border="0">
                                                <tbody>
                                                    <tr>
                                                        <td valign="middle" align="center">
                                                            <a href="{{data.home_url}}" moz-do-not-send="true"
                                                                style="display: inline-block;margin-top:7px;">
                                                                <img src="{{data.home_url}}/images/logo.png" width="200"
                                                                    style="outline:none;color:#ffffff;text-decoration:none"
                                                                    class="CToWUd" moz-do-not-send="true" border="0">
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:0 24px 0px 24px;background-color: #FFF;">
                                            <table cellspacing="0" cellpadding="0" width="100%" border="0">
                                                <tbody>
                                                    <tr>
                                                        <td align="center">                                                           
                                                            <strong style="color: #435465;font-size:24px;">Hello, {{data.fullname}},</strong> 
                                                        </td>
                                                    </tr>  
                                                    <tr>
                                                        <td align="center">
                                                            <a style="display: inline-block;background-color:#358EA6;color:#FFF;text-decoration:none;width:70%;border-radius:5px;padding:7px 0;font-size:22px;margin:25px 0;"
                                                                href="{{data.eventLink}}" title="Verify email address">View Ticket</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center">
                                                            <a style="display: inline-block;background-color:#358EA6;color:#FFF;text-decoration:none;width:70%;border-radius:5px;padding:7px 0;font-size:22px;margin:25px 0;"
                                                                href="{{data.registerURL}}" title="Verify email address">Register</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left">
                                                            <p style="margin:0px 0 25px 0;color:#606060;">Once your email address is verified, we will activate your Pathways To Prevention
                                                                account. If you need assistance with your account,
                                                                please visit our <strong>Help Center</strong> or email us directly at <a
                                                                    href="mailto:support@hullservice.com">support@hullservice.com</a>.</p>
                                                        </td>
                                                    </tr>                                                   
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </center>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>